@tailwind base;

@layer base {
  :root {
    ::selection {
      background-color: hsl(var(--selection));
      color: hsl(var(--primary));
    }

    --background: 0 0 98;
    --background-contrast: 0 0 95;

    --primary: 0 0 0;
    --secondary: 0 0 10;
    --tertiary: 0 0 50;

    --accent: 0 70 50;
    --accent-hover: 0 70 60;
    --accent-contrast: 0 0 100;
    --accent-disabled: 0 70 85;

    --selection: 50 100 50 / 0.25;
  }
  .dark {
    color-scheme: dark;

    --background: 0 0 2;
    --background-contrast: 0 0 5;

    --primary: 0 0 100;
    --secondary: 0 0 90;
    --tertiary: 0 0 50;

    --accent: 0 70 50;
    --accent-hover: 0 70 60;
    --accent-contrast: 0 0 100;
    --accent-disabled: 0 70 85;

    --selection: 0 70 50;
  }

  * {
    @apply scroll-m-28 scroll-smooth;
  }

  html {
    font-size: 14px;
  }
}
