@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #0a0a0a;
  --background-color: #d4d4d4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #d4d4d4;
    --background-color: #0a0a0a;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  color-scheme: dark;
  color: var(--foreground-color);
  background: var(--background-color);
  background-image: linear-gradient(#0c0c0c 0.1em, transparent 0.1em),
    linear-gradient(90deg, #0c0c0c 0.1em, transparent 0.1em);
  background-size: 2em 2em;
  font-size: 14px;
}
