@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #101010;
  --background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ffffff;
    --background-color: #101010;
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
  font-size: 14px;
}
